.titulo{
    color:green;
}

#subtitulo{
    color:rgb(31, 128, 31);
}

.cx_informacoes{
    height: 200px;
    width: 400px;
    background-color: aquamarine;
    padding: 20px;
    border-radius: 5px;
    color:blue;
}